# To download the titanic dataset
kaggle

# Data Science packages
zenml==0.31.0
numpy>=1.23.5
pandas==1.5.2
scikit-learn==1.2.0
xgboost==1.7.3
feature-engine==1.5.2

# Model registry packages
mlflow >=2.1.1
mlserver>=1.2.1
mlserver-mlflow>=1.2.1
protobuf>=3.7.0,<4.0.0
